---

- name: install aws dev
  hosts: localhost
  become: yes


  tasks:
  - name: Create ec2 dev
    ec2:
      instance_type: t2.micro
      image: ami-0d527b8c289b4af7f
      count: 1
      key_name: my-key13
      group: MySG1
      region: eu-central-1
      wait: yes
      instance_tags:
        Name:  devserver1302

